<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobilesafe.eoe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".LostFindActivity"></activity>
        <activity android:name=".Setup1Activity"></activity>
        <activity android:name=".Setup2Activity"></activity>
        <activity android:name=".Setup3Activity"></activity>
        <activity android:name=".Setup4Activity"></activity>
        <activity android:name=".FriendsActivity"></activity>
        <activity android:name=".SettingCenterActivity"></activity>
        <activity android:name=".TelSmsSafeActivity"></activity>
        <activity android:name=".TelSmsSafeActivityPage"></activity>
        <activity android:name=".CalllogsActivity"></activity>
        <activity android:name=".SmslogsActivity"></activity>
        <activity android:name=".AtoolActivity"></activity>
        <activity android:name=".PhoneLocationActivity"></activity>
        <activity android:name=".AppManagerActivity"></activity>
        <activity android:name=".TaskManagerActivity"></activity>
        <activity android:name=".TaskManagerSettingActivity"></activity>
        <activity android:name=".LockActivity"></activity>
        <activity android:name=".CacheActivity"></activity>
        <activity
            android:name=".WatchDogEnterPassActivity"
            android:launchMode="singleInstance"></activity>
        <activity android:name=".ConnectivityActivity"></activity>
        <activity android:name=".AntivirusActivity"></activity>

        <!-- 广告的Activity -->
        <activity
            android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />
        <activity
            android:name="com.startapp.android.publish.AppWallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent" />


        <service android:name="service.LostFindService"></service>
        <service android:name="service.LocationService"></service>
        <service android:name="service.AppWidgetService"></service>
        <service
            android:name="service.TelSmsBlackService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name="service.ClearTaskService"
            android:enabled="true"
            android:exported="true"></service>
        <service android:name="service.WatchDogService"></service>

        <receiver android:name="receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="receiver.ExampleAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>
        <receiver android:name="receiver.ClearTaskReceiver">
            <intent-filter>
                <action android:name="mobilesafe.eoe.widget.cleartask"></action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="receiver.DeviceAdminSample"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
